src/*.o
src/.vs
src/.vs/*
src/test
src/test/*
src/.vscode 
src/.vscode/*
src/testCpp
src/*.user
src/*.user*
src/out
src/out/*
src/vcpkg
src/vcpkg/*
src/build-*
src/build-*/*
build-*
build-*/*
*.json
*.ass
